/* * {
    margin: 0;
    padding: 0;
}
The * selector applies to all elements on the page - it is a universal selector. It is often used to reset default margin and padding values. */

body {
    background-color: #f4f4f4;
    color: #555555;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    /* Same as above -
    font: normal, 12px Arial, Helvetica, sans-serif; */
    line-height: 1.6em;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: aqua;
}

a:active{
    color: green;
}

a:visited {
    color: yellow;
}

.container {
    width: 80%; /* % is responsive, px is fixed */
    margin: auto; /* center the container */
}

.button {
    background-color: #333333;
    color: aqua;
    padding: 10px 15px;
    border: none;
}

.button:hover{
    background-color: #555555;
    color: white
}

.clr {
    clear:both;
}

.box-1 {
    background-color: #333333;
    color: #ffffff; /* defines the text color inside the box */
    border-right: 5px red solid;
    border-left: 5px red solid;
    border-top: 5px red solid;
    border-bottom: 5px red solid;
        /* Same as above, including all side of the border -
        border: 5px red solid; */
    border-width: 3px;
    border-bottom-width: 10px;
    border-top-style: dotted;

    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
        /*Same as above
        padding: 20px; */

    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
        /*Same as above
        margin: 20px; */

}

.box-1 h1 {
    font-family: tahoma, sans-serif;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    word-spacing: 1em;
}

.box-2 {
    border: 3px dotted #cccccc;
    padding: 20px;
    margin: 20px;
}

.categories {
    border: 1px #cccccc solid;
    padding: 10px;
    border-radius:  15px;;
}
.categories h2 {
    text-align: center;
}

.categories ul {
    padding: 0;
    padding-left: 20px;
    list-style: none;
}

.categories li {
    padding-bottom: 6px;
    border-bottom: dotted 1px #333333;
    list-style-image: url('images/check.png');
}

.my-form {
    padding: 20px;
}

.my-form .form-group{
        padding-bottom: 15px; 
}

.my-form label{
    display: block;
}

.my-form input[type="text"], .my-form textarea {
    padding: 10px;
    width: 100%;
}

.block {
    float: left;
    width: 33.33%;
    border: 1px solid #cccccc;
    padding: 10px;
    box-sizing: border-box; /* includes padding and border in the total width and height of the element */
}

#main-block{
    float: left;
    width: 70%;
        padding: 15px;
    box-sizing: border-box;
}

#sidebar {
    float: right;
    width: 30%;
    background-color: #333333;
    color: #ffffff;
    padding: 15px;
    box-sizing: border-box;
}

h3 {
    color: green;
}
